*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
.btn-primary {
    color: #fffefe;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 16px 25px;
    height: 64px;
    border-radius: 5px;
    background-color: hwb(0 29% 3%);
    margin-bottom: 150px;
}



/*============== css common============ */
/* .header{
    display: flex;
} */
/* .need{
    color: #fffff4
} */


.banner{
    background: url(../images/donation5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    /* padding: 0 340px;     */
}
.baner-text{
    color: #fffff4;
    font-weight: 700;
    font-size: 45px;
    font-family: sans-serif;
    padding-top: 150px;
    
}
.overlay{
    padding:0 350px;
    background: rgba(0, 0, 0, 0.7);
}
.banner-sub-titel{
    color: aliceblue;
    font-size: 18px;
    font-weight: 400;
    padding: 30px 0;
}



/* ===========section-donet part css============== */
.section-donet{
    text-align: center;
    padding: 80px 0;
}
.sectuon-titel{
    font-size: 35px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}
.section-sub-titel{
    /* color: aliceblue; */
    padding-top: 30px;
    padding-bottom: 50px;
    margin: 0 380px;
}
.btn-primary{
    margin-top: 30px;
}
.taka ul{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 50px;
  
}
.taka ul li{
    color: #6b6b6b;
    font-size: 35px;
    font-weight: 600;
    
}
.taka ul li:hover{
    color: #f73131;
    background: #ff9393;
    border: 1px solid #f73131;
    border-radius: 5px;
    padding: 22px 10px;
}
.other-tk{
    color: #6b6b6b;
    padding-bottom: 10px ;
    font-size: 14px;
    font-weight: 400;

}
hr{
    display: flex;
    margin: 0 350px;
}
.btn-md{
    color: #fffefe;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 16px 25px;
    height: 64px;
    border-radius: 5px;
    background-color: hwb(0 29% 3%);
    margin-top: 20px;
}
.sub-ti{
    text-align: center;
    padding-bottom: 25px;
}
.our-donat{
    color: black;
    font-size: 35px;
    font-weight: 600;
}
.our-titel{
    color:#6b6b6b;
    padding: 20px 370px;

}
.main-item{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.donat-item-sub{
    width: 300px;
    background: #7bffe948;
    padding: 35px 15px;
    border-radius: 10px;
}
.donat-item{
    width: 300px;
    background: #ff7bf43b;
    padding: 35px 15px;
    border-radius: 10px;
}
.food-titel{
    padding: 25px 0;
    font-size: 24px;
    font-weight: 700;

}
.food-sub{
    color: #6b6b6b;
    /* font-size: 18px;*/
    font-weight: 400; 
}
.sec-item{
    width: 500px;
    margin: 0 140px;

}
.donation-section{
    display: flex;
    margin-right: 50px;
    gap: 24px;
    margin-top: 88px;
}
.their-lives{
    font-size: 35px;
    font-weight: 700;
    padding-right: 100px;
}
.their-titel{
    padding: 28px 0;
    padding-right: 100px;
}
.their-titel-sub{
    padding-right: 100px;
    padding-bottom: 30px;
}
.their-image{
    width: 350px;
}








/* .their-image{
    width: 200px;
    /* padding: 0 50px; */
} */