*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    padding: 0 auto;
    box-sizing: border-box;

}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
.btn-primary {
    color: #fffefe;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 16px 25px;
    height: 64px;
    border-radius: 5px;
    background-color: hwb(0 29% 3%);
    margin-bottom: 150px;
}



/*============== css common============ */
/* .header{
    display: flex;
} */
/* .need{
    color: #fffff4
} */


.banner{
    background: url(../images/donation5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    /* padding: 0 340px;     */
}
.baner-text{
    color: #fffff4;
    font-weight: 700;
    font-size: 45px;
    font-family: sans-serif;
    padding-top: 150px;
    
}
.overlay{
    padding:0 350px;
    background: rgba(0, 0, 0, 0.7);
}
.banner-sub-titel{
    color: aliceblue;
    font-size: 18px;
    font-weight: 400;
    padding: 30px 0;
}



/* ===========section-donet part css============== */
.section-donet{
    text-align: center;
    padding: 80px 0;
}
.sectuon-titel{
    font-size: 35px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}
.section-sub-titel{
    /* color: aliceblue; */
    padding-top: 30px;
    padding-bottom: 50px;
    margin: 0 380px;
}
.btn-primary{
    margin-top: 30px;
}
.taka ul{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 50px;
  
}
.taka ul li{
    color: #6b6b6b;
    font-size: 35px;
    font-weight: 600;
    
}
.taka ul li:hover{
    color: #f73131;
    background: #ff9393;
    border: 1px solid #f73131;
    border-radius: 5px;
    padding: 22px 10px;
}
.other-tk{
    color: #6b6b6b;
    padding-bottom: 10px ;
    font-size: 14px;
    font-weight: 400;

}
hr{
    display: flex;
    margin: 0 350px;
}
.btn-md{
    color: #fffefe;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 16px 25px;
    height: 64px;
    border-radius: 5px;
    background-color: hwb(0 29% 3%);
    margin-top: 20px;
}
.sub-ti{
    text-align: center;
    padding-bottom: 25px;
}
.our-donat{
    color: black;
    font-size: 35px;
    font-weight: 600;
}
.our-titel{
    color:#6b6b6b;
    padding: 20px 370px;

}
.main-item{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.donat-item-sub{
    width: 300px;
    background: #7bffe948;
    padding: 35px 15px;
    border-radius: 10px;
}
.donat-item{
    width: 300px;
    background: #ff7bf43b;
    padding: 35px 15px;
    border-radius: 10px;
}
.food-titel{
    padding: 25px 0;
    font-size: 24px;
    font-weight: 700;

}
.food-sub{
    color: #6b6b6b;
    font-size: 18px;
    font-weight: 400; 
}
/*================= your donation css part ===================*/


.donation-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 200px;
}
.sec-item{
    align-items: center;
    margin: 30px 60px;
    padding: 30px 0;
    

}
.their-lives{
    font-size: 35px;
    font-weight: 700;
    padding-right: 100px;
}
.their-titel{
    padding: 28px 0;
    
}
.their-titel-sub{
    padding-right: 60px;
    padding-bottom: 30px;
}


.donation-section img{

    height: 250px;
}
/* ===================== They need us to suvive part css=================== */

.service{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 200px;
    gap: 24px;
}
.service img{
    height: 300px;
    margin-left: 40px;
}
.service-part{
    align-items: center;
    margin: 30px 35px;
    padding: 30px 0;
}
.ser-heading{
    font-size: 35px;
    font-weight: 700;
    padding-right: 65px;
}
.ser-titel{
    padding: 28px 0;
}
.ser-list{
    padding-right: 60px;
    padding-bottom: 30px;
}
/*============ Get My Updates css part============= */

.My-Updates{
    text-align: center;
    padding: 30px 350px;
}
.updats-hed{
    font-size: 40px;
    font-weight: 700;
}
.updats-list{
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
}
/*========= form-part css============ */
.form-part{
    text-align: center;
    background: #FFF4D6;
    padding: 60px;
    margin: 0 300px;
}
.from-set{
    border: 0;
    padding: 10px 75px;
    background: #D9D9D9;

}
.form-sub{
    border: 0;
    padding: 10px 60px;
    background: #FF5959;
    margin: -6px;
}
/*-=============== footer part css============= */

footer{
    text-align: center;
    background: #0B0D17;
    padding: 40px 0;
}
.footer-part{
    color: #D9D9D9;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Brygada 1918', serif;
}
.footer-clo{
    color: #D9D9D9;
    font-size: 18px;
    font-weight: 400;
    padding-top: 25px;
}

















